.footer {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__text {
  display: flex;
  height: 100%;
  color: #545454;
  font-size: 14px;
  line-height: 1.17;
}
.footer__link {
  color: #545454;
  text-decoration: underline;
}
.footer__link:hover {
  cursor: pointer;
  color: red;
}
.footer__icon{
  height: 13px;
  width: 14px;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 77px;
  }
  .footer__container {
    flex-direction: row;
  }
}
