@use '../utils' as *;

// edit below
button {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 0.85em;
  color: $dark-bg-cl;
  //background-color: $main-bg-cl;
  background-color: transparent;
}

.activebtn {
  color: $secondary-text-cl;
  background: $accent-btn-color;
}

.prevButton,
.nextButton {
  background-color: $secondary-bg-cl;
}

.pagination-container {
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
